In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',30)
pd.set_option('display.precision',3)

pd_version = pd.__version__
np_version = np.__version__

In [6]:
# Q4: Read in the csv file "olive.csv" with pandas. 
#     The filename is stored in the variable `olive_path`
#     Assign it to variable `df`
olive_path = 'olive.csv'
df = pd.read_csv(olive_path)

In [7]:
df.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 11 columns):
Unnamed: 0     572 non-null object
region         572 non-null int64
area           572 non-null int64
palmitic       572 non-null int64
palmitoleic    572 non-null int64
stearic        572 non-null int64
oleic          572 non-null int64
linoleic       572 non-null int64
linolenic      572 non-null int64
arachidic      572 non-null int64
eicosenoic     572 non-null int64
dtypes: int64(10), object(1)
memory usage: 49.2+ KB

In [14]:
df.shape

(572, 11)

In [20]:
df_first_two = df.iloc[0:2]

In [21]:
df_first_two

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

In [30]:
int(len(df.dtypes.value_counts()))

2

In [33]:
df2 = df.copy()
df2['sub_region_raw'] = df2['Unnamed: 0']
df2

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia
5,6.North-Apulia,1,1,911,49,268,7924,678,51,70,44,6.North-Apulia
6,7.North-Apulia,1,1,922,66,264,7990,618,49,56,29,7.North-Apulia
7,8.North-Apulia,1,1,1100,61,235,7728,734,39,64,35,8.North-Apulia
8,9.North-Apulia,1,1,1082,60,239,7745,709,46,83,33,9.North-Apulia
9,10.North-Apulia,1,1,1037,55,213,7944,633,26,52,30,10.North-Apulia
10,11.North-Apulia,1,1,1051,35,219,7978,605,21,65,24,11.North-Apulia
11,12.North-Apulia,1,1,1036,59,235,7868,661,30,62,44,12.North-Apulia
12,13.North-Apulia,1,1,1074,70,214,7728,747,50,79,33,13.North-Apulia
13,14.North-Apulia,1,1,875,52,243,8018,655,41,79,32,14.North-Apulia
14,15.North-Apulia,1,1,952,49,254,7795,780,50,75,41,15.North-Apulia
...,...,...,...,...,...,...,...,...,...,...,...,...
557,558.West-Liguria,3,8,1010,100,240,7710,910,10,20,2,558.West-Liguria
558,559.West-Liguria,3,8,1020,90,240,7800,850,0,0,2,559.West-Liguria
559,560.West-Liguria,3,8,1120,90,300,7650,830,0,10,1,560.West-Liguria
560,561.West-Liguria,3,8,1090,90,290,7710,800,10,0,2,561.West-Liguria
561,562.West-Liguria,3,8,1100,120,280,7630,770,10,10,2,562.West-Liguria
562,563.West-Liguria,3,8,1090,80,240,7820,760,10,0,2,563.West-Liguria
563,564.West-Liguria,3,8,1150,90,250,7720,810,0,10,3,564.West-Liguria
564,565.West-Liguria,3,8,1110,90,230,7810,750,0,10,2,565.West-Liguria
565,566.West-Liguria,3,8,1010,110,210,7720,950,0,0,1,566.West-Liguria
566,567.West-Liguria,3,8,1070,100,220,7730,870,10,10,2,567.West-Liguria
567,568.West-Liguria,3,8,1280,110,290,7490,790,10,10,2,568.West-Liguria
568,569.West-Liguria,3,8,1060,100,270,7740,810,10,10,3,569.West-Liguria
569,570.West-Liguria,3,8,1010,90,210,7720,970,0,0,2,570.West-Liguria
570,571.West-Liguria,3,8,990,120,250,7750,870,10,10,2,571.West-Liguria
571,572.West-Liguria,3,8,960,80,240,7950,740,10,20,2,572.West-Liguria

In [46]:
temp = df2.iloc[0][0]
temp

'1.North-Apulia'

In [49]:
temp = temp[temp.find('.')+1:]
temp

'North-Apulia'

In [52]:
df2['Unnamed: 0'].apply(lambda row: row[row.find('.')+1:]).unique()

array(['North-Apulia', 'Calabria', 'South-Apulia', 'Sicily',
       'Inland-Sardinia', 'Coast-Sardinia', 'Umbria', 'East-Liguria',
       'West-Liguria'], dtype=object)